body{
  font: 15px/1.5 Arial;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

body, html {
  height: 100%;
}


.container1{
  width: 90%;
  margin: auto;
  overflow: hidden;
}

header{
  background: midnightblue;
  color: white;
  padding-top: 0;
  min-height: 2px;
  border-bottom: #e8491d 3px solid;
  padding: -10px;
  margin: 0;
}
.container1 p{
  text-align: center;
  font: 15px/1.5 Arial;
  margin-top: 1px;
}

#showcase{
  min-height: 500px;
  min-width: 1500px;
  background: url('../img/F pg.jpg');
    /* The image used */

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#showcase h1{
  padding: 10px;
  margin: 0;
  text-align: left;
  border: 0;
  color: maroon;
}

#showcase h2{
  padding: 10px;
  margin: 0;
  text-align: left;
  border: 0;
  color: purple;
  font: 15px/1.5 Arial;
}
#showcase h3{
    padding: 10px;
    margin: 0;
    text-align: left;
    border: 0;
    color: purple;
    font: 15px/1.5 Arial;
  }
  #showcase h4{
      padding: 10px;
      margin: 0;
      text-align: left;
      border: 0;
      color: purple;
      font: 15px/1.5 Arial;
    }
    #showcase h5{
        padding: 10px;
        margin: 0;
        text-align: left;
        border: 0;
        color: purple;
        font: 12px/1.5 Arial;
      }


div.container{
width: 900px;
height: 610px;
margin:35px auto;
}
div.main{
width: 500px;
padding: 10px 50px 25px;
border: 2px solid gray;
border-radius: 10px;
float:left;
margin-top:50px;
}
input[type=LoginId],input[type=password]{
width: 90%;
height: 20px;
padding: 2px;
margin-bottom: 20px;
margin-top: 5px;
border: 2px solid #ccc;
color: #4f4f4f;
font-size: 16px;
border-radius: 5px;
}

label{
color: #464646;
text-shadow: 0 1px 0 #fff;
font-size: 14px;
font-weight: bold;
}
center{
font-size:32px;
}
.note{
color:red;
}
.valid{
color:green;
}
.back{
text-decoration: none;
border: 1px solid rgb(0, 143, 255);
background-color: rgb(0, 214, 255);
padding: 3px 20px;
border-radius: 2px;
color: black;
}
input[type=button]{
font-size: 16px;
background: linear-gradient(#ffbc00 5%, #ffdd7f 100%);
border: 1px solid #e5a900;
color: #4E4D4B;
font-weight: bold;
cursor: pointer;
width: 100%;
border-radius: 5px;
padding: 10px 0;
outline:none;
}
input[type=button]:hover{
background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
}
