body{
  font: 15px/1.5 Arial;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

body, html {
  height: 100%;
}


.container{
  width: 90%;
  margin: auto;
  overflow: hidden;
}

header{
  background: midnightblue;
  color: white;
  padding-top: 10px;
  min-height: 2px;
  border-bottom: #e8491d 3px solid;
}
header{
  padding: -10px;
  margin: 0;
}
.container p{
  text-align: center;
  font: 15px/1.5 Arial;
  margin-top: 1px;
}
.button_1{
  height: 30px;
  background-color: teal;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}
.button_2{
  height: 10px;
  background-color: grey;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}
#showcase{
  min-height: 500px;
  min-width: 1500px;
  background: url('../img/handshake.jpg');
    /* The image used */

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#showcase h1{
  padding: 10px;
  margin: 0;
  text-align: left;
  border: 0;
  color: maroon;
}

#showcase h2{
  padding: 10px;
  margin: 0;
  text-align: left;
  border: 0;
  color: purple;
  font: 15px/1.5 Arial;
}
#showcase h3{
    padding: 10px;
    margin: 0;
    text-align: left;
    border: 0;
    color: purple;
    font: 15px/1.5 Arial;
  }
  #showcase h4{
      padding: 10px;
      margin: 0;
      text-align: left;
      border: 0;
      color: purple;
      font: 15px/1.5 Arial;
    }
    #showcase h5{
        padding: 10px;
        margin: 0;
        text-align: left;
        border: 0;
        color: purple;
        font: 12px/1.5 Arial;
      }

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 20px 0;
  border: none;
  background: #f1f1f1;
}



hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

table, th , td{
  border: 1px solid black;
  text-align: center;
}
