body{
  font: 15px/1.5 Arial;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

body, html {
  height: 100%;
}


.container{
  width: 90%;
  margin: auto;
  overflow: hidden;
}

header{
  background: midnightblue;
  color: white;
  padding-top: 10px;
  min-height: 2px;
  border-bottom: #e8491d 3px solid;
}
header{
  padding: -10px;
  margin: 0;
}
.container p{
  text-align: center;
  font: 15px/1.5 Arial;
  margin-top: 1px;
}
.button3{
  height: 20px;
  background-color: teal;
  margin-right: right;
  text-align: right;
  float: right;
  border: 0;
  padding-left: 10px;
  padding-right: 120px;
  color: #ffffff;
}

.button_1{
  height: 30px;
  background-color: teal;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}
.button_2{
  height: 10px;
  background-color: grey;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}
#showcase{
  min-height: 500px;
  min-width: 1500px;
  background: url('../img/inside login.jpg');
    /* The image used */

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#showcase h1{
  padding: 10px;
  margin: 0;
  text-align: left;
  border: 0;
  color: maroon;
}

#showcase h2{
  padding: 10px;
  margin: 0;
  text-align: left;
  border: 0;
  color: purple;
  font: 15px/1.5 Arial;
}
#showcase h3{
    padding: 10px;
    margin: 0;
    text-align: left;
    border: 0;
    color: purple;
    font: 15px/1.5 Arial;
  }
  #showcase h4{
      padding: 10px;
      margin: 0;
      text-align: left;
      border: 0;
      color: purple;
      font: 15px/1.5 Arial;
    }
    #showcase h5{
        padding: 10px;
        margin: 0;
        text-align: left;
        border: 0;
        color: purple;
        font: 12px/1.5 Arial;
      }

.container {
  display: none;
}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.container1 p{
  text-align: center;
  font: 15px/1.5 Arial;
}
